body {
  height: auto;
  overflow-y: auto;
  min-width: 0; }

header {
  z-index: 1000;
  position: relative;
  min-width: 0;
  height: 48px;
  background: #555 linear-gradient(58deg, #555 64px, #050505 65px, #050505 68px, #F60 69px, #F60 100%) no-repeat;
  background-position: 0 0; }
  header .headerskirt {
    position: relative;
    height: 32px;
    background: #555;
    justify-content: space-around;
    box-shadow: 0 0 8px #000; }
    header .headerskirt .button {
      height: 32px;
      width: 64px;
      top: 16px;
      font-size: 16px;
      border: none;
      background: none;
      box-shadow: inset 0 -4px 0 #377DFF;
      color: #FFF;
      margin: -16px 0; }

.messageboxcontainer .messagebox {
  width: 90%; }
  .messageboxcontainer .messagebox #_MESSAGE {
    padding: 8px 4px 64px 4px; }
  .messageboxcontainer .messagebox .messageskirt .button {
    height: 64px;
    top: -64px;
    font-size: 32px;
    border-top: 1px solid #0046C8;
    margin: 0 2px; }

.maincontainer {
  z-index: 0;
  margin-top: 0;
  overflow-y: auto; }
  .maincontainer main {
    border: none;
    margin-bottom: 0;
    padding: 8px;
    padding-top: 64px;
    margin-left: 0;
    margin-right: 0; }
    .maincontainer main .hugetext {
      font-size: 12px; }
    .maincontainer main .panelcontainer .sectionpanel {
      width: 100%; }

section {
  font-size: 16px;
  padding: 0;
  line-height: 32px;
  text-align: center; }
  section h3 {
    text-align: center;
    width: 100%;
    font-size: 24px; }
