@import url('https://fonts.googleapis.com/css?family=Dosis|Ubuntu');

body {
	margin: 0;
	min-width: 30rem;
	min-height: 16rem;
	background: #111;
	color: #AAA;
	text-shadow: 0 2px 2px #000;
	font-family: Ubuntu;
	-webkit-text-size-adjust:none;
}

@mixin noselect {
	-webkit-touch-callout: none;
	user-select: none;
}

* {
	box-sizing: border-box;
	position: relative;
}

.centered {
	text-align: center;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	margin: 1em 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

iframe {
	margin: 1rem 0;
	border: 2px solid transparent;
	border-image: linear-gradient(to bottom right, #0046C8, transparent 50%) 1 100%;
	border-image-slice: 1;
}

a {
	&:link, &:visited, &:hover, &:active {
		border: 0 solid transparent;
		border-bottom: 2px solid #0046C8;
		cursor: pointer;
		text-decoration: none;
		color: inherit;
	}
}

h1 {
	border: 0 solid transparent;
	border-bottom: 2px solid #F80;
	border-image: linear-gradient(to right, transparent, #F80 50%, transparent) 1 100%;
	border-image-slice: 1;
}

h3 {
	margin-bottom: 0.2em;
}

h1, h2, h3, h4 {
	color: #FFF;
	//text-shadow: 0 0 0.1em #0046C8, 0 0 0.1em #0046C8;
	font-family: Dosis;
	letter-spacing: 0.1em;
	font-weight: normal;
}

header {
	@include noselect;
	font-family: Dosis;
	z-index: 1001;
	height: 6rem;
	width: 100%;
	position: fixed;
	display: flex;
	top: 0;
	background: linear-gradient(58deg,  #555 15rem, #050505 15.1rem, #050505 15.5rem, #F60 15.6rem, #F40 100%);
	box-shadow: 0 0 0.5rem #000;
	.headercontainer {
		position: absolute;
		width: 100%;
		height: 100%;
		overflow: hidden;
		#logo {
			height: 100%;
			left: 8rem;
		}
		.headerdetail {
			position: absolute;
			left: 24rem;
			top: 0;
			width: calc(100% - 12rem);
      width: -webkit-calc(100% - 12rem);
			transform: skew(32deg);
			height: 100%;
			backface-visibility: hidden;
			background: transparent;
		}
	}
	.headerskirt {
		position: absolute;
		display: flex;
		justify-content: flex-end;
		top: 100%;
		width: 100%;
		.button {
			cursor: pointer;
			height: 2rem;
			top: -2rem;
			width: 8rem;
			display: flex;
			margin: 0 1rem;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			background: #111;
			border-top: 4px solid #0046C8;
			font-size: 1.5rem;
			color: #377DFF;
		}
	}
}

.messageboxcontainer {
	z-index: 999;
	position: fixed;
	display: flex;
	justify-content: center;
	top: 6rem;
	width: 100%;
	pointer-events: none;
	perspective-origin: center top;
	perspective: 700px;
	transform-style: preserve-3d;
	.messagebox {
		pointer-events: auto;
		width: 50%;
		box-shadow: 0 0 0.5rem #000;
		border: 1px solid #244279;
		border-top: 0 solid #244279;
		background: url('../res/bg1.png') #222 top left/768px 768px no-repeat;
		margin: 0;
		transform-origin: center top;
		transform: rotateX(-90deg);
		backface-visibility: hidden;
		opacity: 0;
		transition: opacity 0.25s ease, transform 0.25s ease;
		&.open {
			transform: rotateX(0deg);
			opacity: 1;
			transition: opacity 0.25s ease, transform 0.25s ease;
		}
		#_MESSAGE {
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
			width: 100%;
			max-height: 100%;
			padding: 2rem 4rem;
			text-align: center;
			word-wrap: break-word;
			overflow: auto;
		}
		.messageskirt {
			position: absolute;
			display: flex;
			justify-content: center;
			left: -1px;
			width: calc(100% + 2px);
			.button {
				@include noselect;
				font-family: Dosis;
				cursor: pointer;
				height: 2rem;
				width: 8rem;
				top: -2rem;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				background: #111;
				border-top: 2px solid #0046C8;
				font-size: 1.5rem;
				color: #377DFF;
			}
		}
	}
}

main {
	margin-top: 6rem;
	margin-bottom: 4rem;
	padding: 4rem;
	padding-top: 1rem;
	margin-left: 6rem;
	margin-right: 6rem;
	box-shadow: 0 0 0.5rem #244279;
	border: 1px solid #244279;
	border-top: 0 solid #244279;
	background: url('../res/bg1.png') #222 top left/1024px 1024px no-repeat;
	.hugetext {
		font-size: 1.5rem;
		text-align: center;
	}
	.panelcontainer {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		.sectionpanel {
			display: flex;
			flex-direction: column;
			width: 50%;
		}
	}
}

section {
	font-size: 1.25rem;
	line-height: 1.8rem;
	padding: 1rem;
	padding-top: 0;
	h3 {
		display: inline-block;
		border: 0 solid transparent;
		border-bottom: 2px solid #F80;
	}
}

@media (max-width: 60rem), (max-aspect-ratio: 1/1) {
	header {
		.headercontainer {
			background: linear-gradient(58deg,  #555 8rem, #050505 8.1rem, #050505 8.5rem, #F80 8.6rem, #840 100%);
			#logo {
				left: 0;
			}
		}
		.headerskirt {
			.button {
				height: 4rem;
				top: -3.9rem;
				font-size: 2rem;
				border-top: 1px solid #0046C8;
				margin: 0 0.15rem;
			}
		}
	}
	.messageboxcontainer {
		.messagebox {
			width: 90%;
			#_MESSAGE {
				padding: 2rem 1rem 4rem 1rem;
				font-size: 2rem;
			}
			.messageskirt {
				.button {
					height: 4rem;
					top: -4rem;
					font-size: 2rem;
					border-top: 1px solid #0046C8;
					margin: 0 0.15rem;
				}
			}
		}
	}
	main {
		margin-bottom: 2rem;
		padding: 1rem;
		margin-left: 2rem;
		margin-right: 2rem;
		.panelcontainer {
			.sectionpanel {
				width: 100%;
			}
		}
	}
	section {
		font-size: 2.5rem;
		line-height: 4rem;
		h3 {
			text-align: center;
			width: 100%;
		}
	}
}
