@import url('https://fonts.googleapis.com/css?family=Dosis|Ubuntu');

body {
	position: relative;
	margin: 0;
	min-width: 660px;
	background: #111;
	color: #FFF;
	text-shadow: 0 2px 2px #000;
	font-family: Ubuntu;
	font-size: 16px;
}

@mixin noselect {
	-webkit-touch-callout: none;
	user-select: none;
}

* {
	box-sizing: border-box;
	position: relative;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	margin: 1em 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

iframe {
	margin: 1rem 0;
}

a {
	&:link, &:visited, &:hover, &:active {
		border: 0 solid transparent;
		border-bottom: 2px solid #0046C8;
		cursor: pointer;
		text-decoration: none;
		color: inherit;
	}
}

h1, h2, h3, h4 {
	color: #FFF;
	font-family: Dosis;
	letter-spacing: 0.1em;
	font-weight: normal;
}

h2 {
	display: inline-block;
	margin: 0;
	background: #F60;
	color: #000;
	font-weight: bold;
	text-shadow: none;
	padding: 0 32px;
	border-radius: 32px;
}

h3 {
	margin-bottom: 0.2em;
	line-height: 64px;
}

header {
	@include noselect;
	font-family: Dosis;
	z-index: 1001;
	height: 96px;
	width: 100%;
	min-width: 660px;
	position: fixed;
	display: flex;
	top: 0;
	//background: #555 linear-gradient(58deg,  #555 128px, #050505 129px, #050505 136px, #F60 137px, #F40 100%) no-repeat;
	background: #555 linear-gradient(58deg, #F60 0px, #F40 100%) no-repeat;
	//background-position: 132px 0;
	box-shadow: 0 0 8px #000;
	transition: all 0.2s;
	#logo {
		position: absolute;
		height: 100%;
		transition: all 0.2s;
		height: 100%;
		left: 128px;
	}
	.buttonContainer {
		position: absolute;
		display: flex;
		justify-content: flex-end;
		top: 100%;
		width: 100%;
		height: 0;
		.button {
			transition: margin 0.2s;
			cursor: pointer;
			height: 32px;
			top: -32px;
			width: 128px;
			display: flex;
			margin: 0 16px;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			background: #111;
			border-top: 4px solid #0046C8;
			font-size: 24px;
			color: #377DFF;
		}
	}
}

@keyframes popup_anim_in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes popup_anim_out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0);
  }
}

#popupContainer {
	position: fixed;
	top: 0;
	z-index: 1002;
	width: 100vw;
  height: 100vh;
  display: none;
	background: rgba(0,0,0,0.5);
  align-items: center;
  justify-content: center;
	font-size: 24px;
	#popup {
		display: flex;
    align-items: center;
    justify-content: center;
    background: #F60;
    color: #FFF;
    width: 512px;
    height: 512px;
    border-radius: 50%;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
		&.anim_in {
      animation-name: popup_anim_in;
    }
    &.anim_out {
      animation-name: popup_anim_out;
    }
    > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      width: 70.71%;
      height: 70.71%;
    }
	}
}

#mainContainer {
	margin-top: 96px;
	height: calc(100% - 96px);
	overflow-x: hidden;
	main {
		padding: 128px;
		padding-top: 16px;
		background: #222;
		transition: all 0.2s;
		#title {
			font-size: 24px;
			text-align: center;
		}
		#content {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			.panel {
				display: flex;
				flex-direction: column;
				width: 50%;
			}
		}
	}
}

section {
	font-size: 20px;
	line-height: 32px;
	margin: 32px;
	padding-top: 0;
	h3 {
		display: inline-block;
		border: 0 solid transparent;
		font-size: 48px;
	}
	p {
		margin-left: 16px;
	}
}

@media (max-width: 1180px) {
	header {
		background-position: 0 0;
		#logo {
			left: 0;
		}
		.buttonContainer {
			.button {
				margin: 0 2px;
			}
		}
	}
	#mainContainer {
		main {
			padding: 64px;
		}
	}
}

@media (max-width: 920px) {
	header {
		background-position: 0 0;
		height: 64px;
		#logo {
			left: 48px;
		}
		.buttonContainer {
	    height: 32px;
	    background: #555;
	    justify-content: space-around;
	    box-shadow: 0 0 8px #000;
	  	.button {
	  		height: 32px;
	      width: 128px;
	  		top: 16px;
	      border: none;
	      background: none;
	      box-shadow: inset 0 -4px 0 #08F;
	      color: #FFF;
	  		margin: -16px 0;
	  	}
	  }
	}
	#mainContainer {
		main {
			padding: 16px;
			#content {
				.panel {
					width: 100%;
				}
			}
		}
	}
	section {
		text-align: center;
		h3 {
			width: 100%;
		}
		p {
			margin-left: 0;
		}
	}
}
